@import './scss/_variables';

* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: darken($color: $color4, $amount: 30);
  border-radius: 10px;
}

body {
  background-color: $color1;
  margin:0 auto;
}


html{
  overflow-y: scroll;
}
// min-height: 80vh;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  text-align: center;
}

h1{
  font-size: 34px;
}
h2{
  font-size: 28px;
}
h4{
  font-size: 20px;
  max-width: 350px;
}

label{
  font-size: 20px;
  cursor: pointer;
}
button{
  font-size: 14px;
}

@media (max-width:668.9px){

  h1{
    max-width: 300px;
    font-size: 30px;
  }
  h2{
    font-size: 24px;
  }

  
  
  label{
    font-size: 18px;
  }
  button{
    font-size: 14px;
  } 
}
@media (max-width:568.9px){
  h1{
    font-size: 28px;
    max-width: 280px;
    padding-bottom: 20px !important;
  }
  h2{
    font-size: 20px;
  }
  h4{
    font-size: 18px;
    @media (max-width:468.9px){
      font-size: 14px;
      max-width: 270px;
      
    }
  }
  
  label{
    font-size: 14px;
  }
}

button>a>span{
  font-size: 18px;
  @media (max-width:468.9px){
    font-size: 13px;

  }
}

input{
  font-size: 18px;
  @media (max-width:668.9px){
    font-size: 16px;

  }
}

.content-wrapper{

  padding: 20px 40px;
  
  @media(max-width:768.9px){
    padding: 20px 40px 100px;
  }
  @media(max-width:500.9px){
    padding: 20px 20px 100px;
  }
}
.content {
  max-width: 940px;
  min-height: 66vh;
  background-color: $contentColor;
  padding: 20px 0;
  margin: 0 auto;

  button,
  input[type='submit'] {
    cursor: pointer;
    background-color: lighten($color: $color4, $amount: 23);
    padding: 5px 14px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    @media(max-width:568.9px){
      font-size: 14px;
    }
  }
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;

  h1 {
    padding: 10px 0 40px;
  }

}


div.form-block{
  max-width: 450px;
}
form {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 20px;
}

.input-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 67%;

  label::after {
    content: '*';
    color: red;
  }
}

input[type='number'] {
  padding: 6px 18px;
  background-color: rgb(238, 235, 244);
  border: none;
  border-top: 4px solid $color5;

  &:focus {
    outline: none;
    color: darken($color: $color5, $amount: 35)
  }
}

input {
  border-radius: 6px;
}

input[type='number'][value=''],
input[value='0'] {
  border-color: rgb(251, 210, 210);

  &:focus {
    border-color: rgb(232, 204, 254);
  }
}

input::placeholder {
  color: darken($color: $color4, $amount: 30);

}

button[disabled] {
  border: none;
  cursor: not-allowed;
  color: lighten($color: $color4, $amount: 17);
}

button:hover:enabled,
input[type='submit']:hover {
  color: darken($color: $color4, $amount: 44);
}

input[type='submit']:hover {
  background-color: darken($color: $color3, $amount: 10);
}